
{% extends "layout.html" %}
{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#changePass" role="tab" aria-controls="changePass" aria-selected="true">Change Password</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Leave Balance</a>
    </li>
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="changePass" role="changePass" aria-labelledby="home-tab">
        
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                <form name="change_password" action="{{ url_for('base.setting') }}" method="post" novalidate>
                    <h2 class="text-center">Change Password</h2>
                    {{form.hidden_tag()}}
            
                    <table class="table table-borderless">
                        <tr>
                            <td>{{ form.pass_old.label }} : </td>
                            <td>
                                {{ form.pass_old(size=15, class='form-control')}}
                                {% for error in form.pass_old.errors %}
                                    <span class="error-message"> {{ error }} </span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form.pass_new.label }} : </td>
                            <td>
                                {{ form.pass_new(size=15, class='form-control')}}
                                {% for error in form.pass_new.errors %}
                                    <span class="error-message"> {{ error }} </span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form.pass_confirm.label }} : </td>
                            <td>
                                {{ form.pass_confirm(size=15, class='form-control')}}
                                {% for error in form.pass_confirm.errors %}
                                    <span class="error-message"> {{ error }} </span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td ></td>
                            <td >{{ form.submit(class='btn btn-success') }}</td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col">
            </div>
        </div>


    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Leave Balance</div>
  </div>
{% endblock %}

