{% extends "layout.html" %}

{% block content %}
    <!-- Modal -->
    <body>
    <div class="modal fade" id="putLeaveRequest" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Leave Request </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div id="page-content-wrapper" style="width: 100%">
        <div>
            <h1>Profiles</h1>
        </div>
        <div class="container-fluid">
            <div class="row">

                <h5 class="card-title">Name : {{ data.name }}</h5>
                <p class="card-text">Role : {{ data.role }}</p>

            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col- w-25 p-3">
                    <div class="card border-danger text-danger">
                        <div class="card-header bg-danger text-white"> Leave Balance</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ data.leaveBalance }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="button" id="showLeaveRequestModal" class="btn btn-danger">Put Leave Request</button>
                </div>
                <div class="col-7"></div>


            </div>
        </div>


    </div>

    </body>
{% endblock %}